body {
    font-family: sans-serif;
    display: flex;
    height: 100%;
    min-height: 100vh;
}

.scene {
    width: 200px;
    height: 260px;
    line-height: 260px;
    white-space: nowrap;
    perspective: 600px;
    margin: auto;
}

.card {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: center right;
}

.card_face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    color: white;
    font-size: 3em;
}

.card_face-front {
    background: #9933ff;
    border: 5px solid #4d0099;
}

.card_face-back {
    background: #ff5050;
    border: 5px solid #cc0000;
    transform: rotateY( 180deg );
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

